.dv_Container{
    background-color: rgba(255, 255, 255, 0.4);
    max-width: 25%;
    border-color: #fff;
    border-style: solid;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 2px 2px 10px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 25%;
    border-width: thin;
}

.dv_PlaylistContainer{
    background-color: chocolate;
    width: 80%;
    border-radius: 8px;
    overflow: hidden;
    box-sizing: border-box;
    margin: 15px 0;
}

#dv_SpotifyEmbedded_Louvor{
    max-width: 90%;
    border-radius: 5px;
    overflow: hidden;
    max-height: 300px;
    background-color: #49705D;
    margin: 1vw 0 1vw;
}

#dv_StreamingsContainer_Louvor{
    width:100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 1vw;
    gap: 0.8vw;
}

#dv_FormaçãoContainer_Louvor{
    display: flex;
    flex-flow: row wrap;
    justify-content: center; 
    gap: 1vw;
    margin: 0 0.2vw 2vh;
}

@media(max-width: 800px) {
    .dv_Container{
        max-width: 90%;
        min-width: 90%;
    }

    #dv_StreamingsContainer_Louvor{
        margin-bottom: 3vw;
    }
    
    #dv_FormaçãoContainer_Louvor{
        margin: 0 0 2vh;
        gap: 2vw;
    }
}